* {
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    margin-top: 2%;
}

.nav-item {
    display: inline;
    margin: 0 2%;
    list-style-type: none;
    color: #efefef;
    cursor: pointer;
}

.active {
    font-weight: bold;
}

#top-bar {
    font-family: Segoe UI;
    padding:2%;
    margin-bottom: 5%;
    background: linear-gradient(#444, #333);
    border-bottom: .1em solid #222;
    box-shadow:#222 0 1em 2em;
}

#top-bar h1 {
    text-align: center;
    color: white;
}

.restaurant-container {
    background-color:#efefef;
    margin: 2%;
    font-family: Segoe UI Light;
    border-radius: 1em;
}

.restaurant-container h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2% 0;
    background:#aaa;
}

.restaurant-container ul li {
    list-style-type: none;
    text-align: center;
    padding: .5%;
}